<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>chooseModel_0000</key>
      <dict>
        <key>frame</key>
        <string>{{662,447},{44,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,44.00}</string>
      </dict>
      <key>chooseModel_0001</key>
      <dict>
        <key>frame</key>
        <string>{{662,401},{44,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,44.00}</string>
      </dict>
      <key>chooseModel_0002</key>
      <dict>
        <key>frame</key>
        <string>{{532,615},{109,113}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,113.00}</string>
      </dict>
      <key>chooseModel_0003</key>
      <dict>
        <key>frame</key>
        <string>{{339,615},{191,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{191.00,146.00}</string>
      </dict>
      <key>chooseModel_0004</key>
      <dict>
        <key>frame</key>
        <string>{{491,337},{94,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,64.00}</string>
      </dict>
      <key>chooseModel_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{382,129}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{382.00,129.00}</string>
      </dict>
      <key>chooseModel_0006</key>
      <dict>
        <key>frame</key>
        <string>{{339,580},{270,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{270.00,33.00}</string>
      </dict>
      <key>chooseModel_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,712},{336,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{336.00,90.00}</string>
      </dict>
      <key>chooseModel_0008</key>
      <dict>
        <key>frame</key>
        <string>{{339,501},{294,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{294.00,77.00}</string>
      </dict>
      <key>chooseModel_0009</key>
      <dict>
        <key>frame</key>
        <string>{{178,804},{156,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{156.00,29.00}</string>
      </dict>
      <key>chooseModel_0010</key>
      <dict>
        <key>frame</key>
        <string>{{605,1},{95,132}}</string>
        <key>offset</key>
        <string>{0.05,0.00}</string>
        <key>sourceSize</key>
        <string>{95.10,132.00}</string>
      </dict>
      <key>chooseModel_0011</key>
      <dict>
        <key>frame</key>
        <string>{{643,634},{95,131}}</string>
        <key>offset</key>
        <string>{0.05,0.50}</string>
        <key>sourceSize</key>
        <string>{95.10,132.00}</string>
      </dict>
      <key>chooseModel_0012</key>
      <dict>
        <key>frame</key>
        <string>{{605,268},{95,131}}</string>
        <key>offset</key>
        <string>{-0.05,0.50}</string>
        <key>sourceSize</key>
        <string>{95.10,132.00}</string>
      </dict>
      <key>chooseModel_0013</key>
      <dict>
        <key>frame</key>
        <string>{{643,501},{95,131}}</string>
        <key>offset</key>
        <string>{-0.05,0.50}</string>
        <key>sourceSize</key>
        <string>{95.10,132.00}</string>
      </dict>
      <key>chooseModel_0014</key>
      <dict>
        <key>frame</key>
        <string>{{605,135},{95,131}}</string>
        <key>offset</key>
        <string>{-0.05,0.50}</string>
        <key>sourceSize</key>
        <string>{95.10,132.00}</string>
      </dict>
      <key>chooseModel_0015</key>
      <dict>
        <key>frame</key>
        <string>{{1,804},{175,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{175.00,28.00}</string>
      </dict>
      <key>chooseModel_0016</key>
      <dict>
        <key>frame</key>
        <string>{{339,763},{190,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{190.00,38.00}</string>
      </dict>
      <key>chooseModel_0017</key>
      <dict>
        <key>frame</key>
        <string>{{1,132},{342,274}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{342.00,274.00}</string>
      </dict>
      <key>chooseModel_0018</key>
      <dict>
        <key>frame</key>
        <string>{{385,1},{218,334}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{218.00,334.00}</string>
      </dict>
      <key>chooseModel_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,408},{336,302}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{336.00,302.00}</string>
      </dict>
      <key>chooseModel_0020</key>
      <dict>
        <key>frame</key>
        <string>{{339,408},{321,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{321.00,91.00}</string>
      </dict>
      <key>chooseModel_0021</key>
      <dict>
        <key>frame</key>
        <string>{{601,767},{48,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,54.00}</string>
      </dict>
      <key>chooseModel_0022</key>
      <dict>
        <key>frame</key>
        <string>{{531,763},{68,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,63.00}</string>
      </dict>
      <key>chooseModel_0023</key>
      <dict>
        <key>frame</key>
        <string>{{651,767},{44,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,44.00}</string>
      </dict>
      <key>chooseModel_0024</key>
      <dict>
        <key>frame</key>
        <string>{{702,1},{88,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{88.00,165.00}</string>
      </dict>
      <key>chooseModel_0025</key>
      <dict>
        <key>frame</key>
        <string>{{345,337},{144,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{144.00,44.00}</string>
      </dict>
      <key>chooseModel_0026</key>
      <dict>
        <key>frame</key>
        <string>{{368,244},{14,29}}</string>
        <key>offset</key>
        <string>{-1.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0027</key>
      <dict>
        <key>frame</key>
        <string>{{345,196},{21,29}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0028</key>
      <dict>
        <key>frame</key>
        <string>{{345,227},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0029</key>
      <dict>
        <key>frame</key>
        <string>{{336,804},{22,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0030</key>
      <dict>
        <key>frame</key>
        <string>{{345,132},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0031</key>
      <dict>
        <key>frame</key>
        <string>{{345,164},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0032</key>
      <dict>
        <key>frame</key>
        <string>{{383,803},{21,29}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0033</key>
      <dict>
        <key>frame</key>
        <string>{{345,291},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0034</key>
      <dict>
        <key>frame</key>
        <string>{{345,259},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0035</key>
      <dict>
        <key>frame</key>
        <string>{{360,803},{21,30}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0036</key>
      <dict>
        <key>frame</key>
        <string>{{368,185},{14,31}}</string>
        <key>offset</key>
        <string>{-4.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,31.00}</string>
      </dict>
      <key>chooseModel_0037</key>
      <dict>
        <key>frame</key>
        <string>{{406,803},{16,25}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0038</key>
      <dict>
        <key>frame</key>
        <string>{{368,218},{14,24}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0039</key>
      <dict>
        <key>frame</key>
        <string>{{368,132},{15,24}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0040</key>
      <dict>
        <key>frame</key>
        <string>{{368,275},{14,25}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0041</key>
      <dict>
        <key>frame</key>
        <string>{{345,383},{17,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0042</key>
      <dict>
        <key>frame</key>
        <string>{{368,302},{14,24}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0043</key>
      <dict>
        <key>frame</key>
        <string>{{442,803},{16,25}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0044</key>
      <dict>
        <key>frame</key>
        <string>{{364,383},{16,23}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0045</key>
      <dict>
        <key>frame</key>
        <string>{{424,803},{16,25}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
      <key>chooseModel_0046</key>
      <dict>
        <key>frame</key>
        <string>{{368,158},{15,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{17.00,25.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>chooseModel.png</string>
      <key>realTextureFileName</key>
      <string>chooseModel.png</string>
      <key>textureFileName</key>
      <string>chooseModel.png</string>
      <key>size</key>
      <string>{884,836}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51387</real>
        <key>anchorY</key>
        <real>0.55233</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49389</real>
        <key>anchorY</key>
        <real>0.45606</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.64263</real>
        <key>anchorY</key>
        <real>0.72414</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50578</real>
        <key>anchorY</key>
        <real>0.46591</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49743</real>
        <key>anchorY</key>
        <real>0.46786</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49553</real>
        <key>anchorY</key>
        <real>0.59079</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>a41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,342.00,274.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2036</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,274.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,257.00,146.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2066</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>46.00,102.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i2062</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>148.00,143.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2064</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,146.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,218.00,334.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2092</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,334.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,336.00,302.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2118</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,302.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,88.00,165.00</string>
        <key>anchorX</key>
        <real>0.51136</real>
        <key>anchorY</key>
        <real>0.49697</real>
        <key>children</key>
        <dict>
          <key>i2144</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,165.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a39</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,68.00,63.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2170</key>
          <dict>
            <key>class</key>
            <string>a40</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,63.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2172</key>
          <dict>
            <key>class</key>
            <string>a41</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>12.00,53.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,88.00,165.00</string>
        <key>anchorX</key>
        <real>0.51136</real>
        <key>anchorY</key>
        <real>0.49697</real>
        <key>children</key>
        <dict>
          <key>i2198</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>88.00,165.00,180.00,1.00000,1.00000,1.00,0,0.00,180.00</string>
          </dict>
        </dict>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,410.60,540.90</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.97643</real>
        <key>children</key>
        <dict>
          <key>i2228</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>16.40,90.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i2226</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>208.90,483.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2230</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>37.40,85.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>bottle</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>361.80,61.70,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i2224</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>208.90,483.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2232</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>146.05,53.65,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>scheduleLabel</key>
          <dict>
            <key>class</key>
            <string>Textfont</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>208.05,68.85,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Arial,35,#633515,left,207,49</string>
            <key>text</key>
            <string>0/25</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnStressModel</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>34.90,408.95,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,321.00,91.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2263</key>
          <dict>
            <key>class</key>
            <string>a37</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>160.50,45.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2265</key>
          <dict>
            <key>class</key>
            <string>a38</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>58.50,46.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,482.00,754.00</string>
        <key>anchorX</key>
        <real>0.50249</real>
        <key>anchorY</key>
        <real>0.49993</real>
        <key>children</key>
        <dict>
          <key>btnEndlessModel</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||243.20,377.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2449</key>
          <dict>
            <key>class</key>
            <string>a29</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||246.15,605.05,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btnTimeModel</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|230.20,377.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00|null</string>
          </dict>
          <key>stress</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>37.30,650.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null|</string>
          </dict>
          <key>i2445</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null|242.20,605.05,0.00,1.00000,1.00000,1.00,7,0.00,0.00|null</string>
          </dict>
          <key>scheduleLabel</key>
          <dict>
            <key>class</key>
            <string>Textfont</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null|246.45,189.10,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Arial,35,#633515,center,80,49|</string>
            <key>text</key>
            <string>0/25</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i2436</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|50.70,211.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00|50.70,211.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i2438</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null|71.70,206.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|71.70,206.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i2440</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|189.00,175.80,0.00,1.00000,1.00000,1.00,5,0.00,0.00|189.00,175.80,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i2432</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|242.20,605.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00|246.20,605.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>bottle</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null|392.60,181.90,0.00,1.00000,1.00000,1.00,6,0.00,0.00|392.60,181.90,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,143.45,44.05</string>
        <key>anchorX</key>
        <real>0.05124</real>
        <key>anchorY</key>
        <real>0.48127</real>
        <key>children</key>
        <dict>
          <key>i2332</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,44.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i2453</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|71.70,22.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|121.45,22.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2451</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|22.00,22.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|22.00,22.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2455</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|121.45,22.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00|71.70,22.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>chooseModel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,720.00,1280.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>coinM</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>167.50,1191.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btnBack</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>166.50,135.45,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>btnBuyCoin</key>
          <dict>
            <key>class</key>
            <string>a39</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>272.05,1192.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>modelIndex</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>283.50,277.05,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btnLastModel</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>61.00,695.60,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>modelType</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>359.55,701.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btnNextModel</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>661.00,695.60,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>coin</key>
          <dict>
            <key>class</key>
            <string>coinText</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>90.00,1211.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00,微软雅黑,30,#633514,center,146,44</string>
            <key>text</key>
            <string>99999999</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>Textfont</key>
      <dict>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>36</integer>
        <key>size</key>
        <integer>35</integer>
        <key>chars</key>
        <string>1234567890/</string>
        <key>anchorX</key>
        <real>-0.22727</real>
        <key>anchorY</key>
        <real>1.29032</real>
      </dict>
      <key>coinText</key>
      <dict>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>46</integer>
        <key>size</key>
        <integer>30</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.29412</real>
        <key>anchorY</key>
        <real>1.44000</real>
      </dict>
    </dict>
  </dict>
</plist>