<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>countdown_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,54},{53,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,51.00}</string>
      </dict>
      <key>countdown_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{53,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,51.00}</string>
      </dict>
      <key>countdown_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,107},{18,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,51.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>countdown.png</string>
      <key>realTextureFileName</key>
      <string>countdown.png</string>
      <key>textureFileName</key>
      <string>countdown.png</string>
      <key>size</key>
      <string>{64,164}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.06132</real>
        <key>anchorY</key>
        <real>2.07059</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.06321</real>
        <key>anchorY</key>
        <real>2.06471</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.11111</real>
        <key>anchorY</key>
        <real>2.09412</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Countdown</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>63</integer>
        <key>rect</key>
        <string>0,0,209.60,203.60</string>
        <key>anchorX</key>
        <real>0.49857</real>
        <key>anchorY</key>
        <real>0.50098</real>
        <key>children</key>
        <dict>
          <key>i1509725</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||-225.00,420.50,0.00,4.00000,4.00000,1.00,0,0.00,0.00|-175.60,372.90,0.00,3.40002,3.40002,1.00,0,0.00,0.00|-126.05,325.15,0.00,2.80005,2.80005,1.00,0,0.00,0.00|-76.60,277.50,0.00,2.20001,2.20001,1.00,0,0.00,0.00|-27.05,229.75,0.00,1.59998,1.59998,1.00,0,0.00,0.00|22.50,182.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||null|||||||||||||||||||||||</string>
          </dict>
          <key>i1509699</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-225.00,422.00,0.00,4.00000,4.00000,1.00,0,0.00,0.00|-175.60,374.00,0.00,3.40002,3.40002,1.00,0,0.00,0.00|-126.05,326.00,0.00,2.80005,2.80005,1.00,0,0.00,0.00|-76.60,278.00,0.00,2.20001,2.20001,1.00,0,0.00,0.00|-27.05,230.00,0.00,1.59998,1.59998,1.00,0,0.00,0.00|22.50,182.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||null|||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1509727</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||-10.50,425.00,0.00,4.00000,4.00000,1.00,0,0.00,0.00|11.25,364.25,0.00,3.25000,3.25000,1.00,0,0.00,0.00|33.05,303.45,0.00,2.50000,2.50000,1.00,0,0.00,0.00|54.75,242.75,0.00,1.75000,1.75000,1.00,0,0.00,0.00|76.50,182.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>