<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>flower_0000</key>
      <dict>
        <key>frame</key>
        <string>{{270,234},{44,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,43.00}</string>
      </dict>
      <key>flower_0001</key>
      <dict>
        <key>frame</key>
        <string>{{228,302},{60,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{60.00,91.00}</string>
      </dict>
      <key>flower_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,302},{159,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{159.00,74.00}</string>
      </dict>
      <key>flower_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,151},{267,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,38.00}</string>
      </dict>
      <key>flower_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{268,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{268.00,36.00}</string>
      </dict>
      <key>flower_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,113},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>flower_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,227},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>flower_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,191},{267,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,34.00}</string>
      </dict>
      <key>flower_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,76},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>flower_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,39},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>flower_0010</key>
      <dict>
        <key>frame</key>
        <string>{{290,324},{36,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{36.00,25.00}</string>
      </dict>
      <key>flower_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,264},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>flower_0012</key>
      <dict>
        <key>frame</key>
        <string>{{270,144},{44,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,43.00}</string>
      </dict>
      <key>flower_0013</key>
      <dict>
        <key>frame</key>
        <string>{{271,1},{46,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{46.00,36.00}</string>
      </dict>
      <key>flower_0014</key>
      <dict>
        <key>frame</key>
        <string>{{270,189},{44,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,43.00}</string>
      </dict>
      <key>flower_0015</key>
      <dict>
        <key>frame</key>
        <string>{{270,39},{57,58}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,58.00}</string>
      </dict>
      <key>flower_0016</key>
      <dict>
        <key>frame</key>
        <string>{{270,99},{44,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,43.00}</string>
      </dict>
      <key>flower_0017</key>
      <dict>
        <key>frame</key>
        <string>{{162,302},{64,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,83.00}</string>
      </dict>
      <key>flower_0018</key>
      <dict>
        <key>frame</key>
        <string>{{290,279},{44,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,43.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>flower.png</string>
      <key>realTextureFileName</key>
      <string>flower.png</string>
      <key>textureFileName</key>
      <string>flower.png</string>
      <key>size</key>
      <string>{470,394}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.50789</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49851</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55714</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55882</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54714</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54286</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.53056</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Flower</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,159.00,95.15</string>
        <key>anchorX</key>
        <real>0.50314</real>
        <key>anchorY</key>
        <real>0.01051</real>
        <key>children</key>
        <dict>
          <key>flower</key>
          <dict>
            <key>class</key>
            <string>aa</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>56.60,64.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1611225</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,74.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>16</integer>
        <key>rect</key>
        <string>0,0,159.00,74.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1611326</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44|null</string>
          </dict>
          <key>i1611320</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||||</string>
          </dict>
          <key>i1611314</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||||||||||</string>
          </dict>
          <key>i1611324</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|</string>
          </dict>
          <key>i1611318</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||||||</string>
          </dict>
          <key>i1611316</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||||||||</string>
          </dict>
          <key>i1611260</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,74.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||||||||||0.00,74.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1611258</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||||||||||||</string>
          </dict>
          <key>i1611322</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||81.30,64.95,0.44,0.29289,0.40496,1.00,0,0.23,0.44||null|||</string>
          </dict>
        </dict>
      </dict>
      <key>aa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>25</integer>
        <key>rect</key>
        <string>0,0,79.60,140.00</string>
        <key>anchorX</key>
        <real>0.16080</real>
        <key>anchorY</key>
        <real>0.30714</real>
        <key>children</key>
        <dict>
          <key>i1611330</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||53.95,67.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||null||||||||||||||||</string>
          </dict>
          <key>i1611334</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||51.10,78.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||null||||||||||||</string>
          </dict>
          <key>i1611340</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||34.80,21.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||</string>
          </dict>
          <key>i1611338</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||44.75,90.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||null||||||||</string>
          </dict>
          <key>i1611332</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||34.80,21.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||||||</string>
          </dict>
          <key>i1611342</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||30.00,94.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||</string>
          </dict>
          <key>i1611336</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||34.80,21.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||</string>
          </dict>
          <key>i1611286</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>34.80,21.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||||||||||||||</string>
          </dict>
          <key>i1611328</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||34.80,21.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||||||||||</string>
          </dict>
          <key>i1611288</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>51.05,61.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||null||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>