<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamescenefountain_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,682},{210,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{210.00,90.00}</string>
      </dict>
      <key>gamescenefountain_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,419},{267,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,38.00}</string>
      </dict>
      <key>gamescenefountain_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,381},{268,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{268.00,36.00}</string>
      </dict>
      <key>gamescenefountain_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,496},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>gamescenefountain_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,534},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>gamescenefountain_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,571},{267,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,34.00}</string>
      </dict>
      <key>gamescenefountain_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,459},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>gamescenefountain_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,645},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>gamescenefountain_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,607},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>gamescenefountain_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{355,196}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{355.00,196.00}</string>
      </dict>
      <key>gamescenefountain_0010</key>
      <dict>
        <key>frame</key>
        <string>{{441,513},{169,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,193.00}</string>
      </dict>
      <key>gamescenefountain_0011</key>
      <dict>
        <key>frame</key>
        <string>{{270,513},{169,192}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,192.00}</string>
      </dict>
      <key>gamescenefountain_0012</key>
      <dict>
        <key>frame</key>
        <string>{{319,199},{169,192}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,192.00}</string>
      </dict>
      <key>gamescenefountain_0013</key>
      <dict>
        <key>frame</key>
        <string>{{529,1},{169,192}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,192.00}</string>
      </dict>
      <key>gamescenefountain_0014</key>
      <dict>
        <key>frame</key>
        <string>{{490,196},{169,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,193.00}</string>
      </dict>
      <key>gamescenefountain_0015</key>
      <dict>
        <key>frame</key>
        <string>{{612,588},{169,194}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,194.00}</string>
      </dict>
      <key>gamescenefountain_0016</key>
      <dict>
        <key>frame</key>
        <string>{{612,391},{169,195}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,195.00}</string>
      </dict>
      <key>gamescenefountain_0017</key>
      <dict>
        <key>frame</key>
        <string>{{358,1},{169,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,193.00}</string>
      </dict>
      <key>gamescenefountain_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1,199},{316,180}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{316.00,180.00}</string>
      </dict>
      <key>gamescenefountain_0019</key>
      <dict>
        <key>frame</key>
        <string>{{399,800},{158,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,92.00}</string>
      </dict>
      <key>gamescenefountain_0020</key>
      <dict>
        <key>frame</key>
        <string>{{453,393},{157,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{157.00,92.00}</string>
      </dict>
      <key>gamescenefountain_0021</key>
      <dict>
        <key>frame</key>
        <string>{{559,800},{158,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,91.00}</string>
      </dict>
      <key>gamescenefountain_0022</key>
      <dict>
        <key>frame</key>
        <string>{{399,708},{163,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{163.00,90.00}</string>
      </dict>
      <key>gamescenefountain_0023</key>
      <dict>
        <key>frame</key>
        <string>{{270,419},{181,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{181.00,92.00}</string>
      </dict>
      <key>gamescenefountain_0024</key>
      <dict>
        <key>frame</key>
        <string>{{206,774},{191,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{191.00,92.00}</string>
      </dict>
      <key>gamescenefountain_0025</key>
      <dict>
        <key>frame</key>
        <string>{{1,774},{203,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{203.00,91.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gamescenefountain.png</string>
      <key>realTextureFileName</key>
      <string>gamescenefountain.png</string>
      <key>textureFileName</key>
      <string>gamescenefountain.png</string>
      <key>size</key>
      <string>{958,898}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49048</real>
        <key>anchorY</key>
        <real>0.51667</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.50789</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49851</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55714</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55882</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54714</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54286</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.53056</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01036</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01563</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01563</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01563</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01036</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00515</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01036</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65190</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65605</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65190</real>
        <key>anchorY</key>
        <real>0.51099</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.63190</real>
        <key>anchorY</key>
        <real>0.51667</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56906</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53927</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50739</real>
        <key>anchorY</key>
        <real>0.51099</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>Fountain</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,650.70,169.70</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00589</real>
        <key>children</key>
        <dict>
          <key>boy</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>226.10,70.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>fountain</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>552.20,62.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,239.10,132.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2598755</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.00,132.00,0.00,0.67346,0.67346,1.00,2,0.00,0.00||||||||||||||</string>
          </dict>
          <key>i2598821</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||||</string>
          </dict>
          <key>i2598829</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null</string>
          </dict>
          <key>i2598817</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||||||</string>
          </dict>
          <key>i2598811</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||112.10,52.85,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||||||||||</string>
          </dict>
          <key>i2598823</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||||</string>
          </dict>
          <key>i2598809</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||||||||||</string>
          </dict>
          <key>i2598835</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2598813</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||||||||</string>
          </dict>
          <key>i2598815</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||||||||</string>
          </dict>
          <key>i2598833</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32</string>
          </dict>
          <key>i2598751</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||||||||||||</string>
          </dict>
          <key>i2598827</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||</string>
          </dict>
          <key>i2598819</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||||||</string>
          </dict>
          <key>i2598753</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>113.10,53.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null||||||||||||</string>
          </dict>
          <key>i2598825</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||136.80,43.90,0.32,0.58343,0.58343,1.00,0,0.32,0.32||null||</string>
          </dict>
          <key>i2598831</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||112.45,52.55,0.00,0.67346,0.67346,1.00,1,0.00,0.00||null</string>
          </dict>
        </dict>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>8</integer>
        <key>rect</key>
        <string>0,0,197.00,165.50</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.35045</real>
        <key>children</key>
        <dict>
          <key>i2598781</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,112.20,0.00,0.62335,0.62335,1.00,0,0.00,0.00|||||||</string>
          </dict>
          <key>i2598841</key>
          <dict>
            <key>class</key>
            <string>a23</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||44.90,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null|||</string>
          </dict>
          <key>i2598839</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null||||</string>
          </dict>
          <key>i2598837</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null|||||</string>
          </dict>
          <key>i2598783</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null||||||</string>
          </dict>
          <key>i2598849</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2598847</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>i2598845</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null|</string>
          </dict>
          <key>i2598843</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||44.55,165.50,0.00,0.62335,0.62335,1.00,1,0.00,0.00|null||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>