<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamemenulayer_0000</key>
      <dict>
        <key>frame</key>
        <string>{{277,354},{29,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{29.00,35.00}</string>
      </dict>
      <key>gamemenulayer_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,283},{178,22}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{178.00,22.00}</string>
      </dict>
      <key>gamemenulayer_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,159},{238,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{238.00,79.00}</string>
      </dict>
      <key>gamemenulayer_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,79},{283,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{283.00,78.00}</string>
      </dict>
      <key>gamemenulayer_0004</key>
      <dict>
        <key>frame</key>
        <string>{{181,283},{94,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,95.00}</string>
      </dict>
      <key>gamemenulayer_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,307},{91,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{91.00,68.00}</string>
      </dict>
      <key>gamemenulayer_0006</key>
      <dict>
        <key>frame</key>
        <string>{{94,307},{78,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,87.00}</string>
      </dict>
      <key>gamemenulayer_0007</key>
      <dict>
        <key>frame</key>
        <string>{{241,159},{90,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{90.00,90.00}</string>
      </dict>
      <key>gamemenulayer_0008</key>
      <dict>
        <key>frame</key>
        <string>{{277,251},{63,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{63.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0009</key>
      <dict>
        <key>frame</key>
        <string>{{184,240},{38,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{38.00,38.00}</string>
      </dict>
      <key>gamemenulayer_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{283,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{283.00,76.00}</string>
      </dict>
      <key>gamemenulayer_0011</key>
      <dict>
        <key>frame</key>
        <string>{{286,1},{57,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,55.00}</string>
      </dict>
      <key>gamemenulayer_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,240},{181,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{181.00,41.00}</string>
      </dict>
      <key>gamemenulayer_0013</key>
      <dict>
        <key>frame</key>
        <string>{{333,120},{45,61}}</string>
        <key>offset</key>
        <string>{1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0014</key>
      <dict>
        <key>frame</key>
        <string>{{421,231},{31,62}}</string>
        <key>offset</key>
        <string>{-6.50,0.50}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0015</key>
      <dict>
        <key>frame</key>
        <string>{{380,64},{36,61}}</string>
        <key>offset</key>
        <string>{-3.00,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0016</key>
      <dict>
        <key>frame</key>
        <string>{{380,1},{38,61}}</string>
        <key>offset</key>
        <string>{-2.00,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0017</key>
      <dict>
        <key>frame</key>
        <string>{{286,58},{48,60}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0018</key>
      <dict>
        <key>frame</key>
        <string>{{377,183},{39,61}}</string>
        <key>offset</key>
        <string>{-2.50,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0019</key>
      <dict>
        <key>frame</key>
        <string>{{342,246},{41,63}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0020</key>
      <dict>
        <key>frame</key>
        <string>{{336,58},{42,60}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0021</key>
      <dict>
        <key>frame</key>
        <string>{{333,183},{42,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0022</key>
      <dict>
        <key>frame</key>
        <string>{{341,316},{42,62}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0023</key>
      <dict>
        <key>frame</key>
        <string>{{454,217},{22,43}}</string>
        <key>offset</key>
        <string>{-8.00,-9.00}</string>
        <key>sourceSize</key>
        <string>{48.00,63.00}</string>
      </dict>
      <key>gamemenulayer_0024</key>
      <dict>
        <key>frame</key>
        <string>{{385,350},{26,37}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0025</key>
      <dict>
        <key>frame</key>
        <string>{{454,1},{17,35}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0026</key>
      <dict>
        <key>frame</key>
        <string>{{453,92},{24,36}}</string>
        <key>offset</key>
        <string>{-0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0027</key>
      <dict>
        <key>frame</key>
        <string>{{308,354},{26,37}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0028</key>
      <dict>
        <key>frame</key>
        <string>{{440,346},{25,36}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0029</key>
      <dict>
        <key>frame</key>
        <string>{{452,179},{25,36}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0030</key>
      <dict>
        <key>frame</key>
        <string>{{452,53},{25,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0031</key>
      <dict>
        <key>frame</key>
        <string>{{453,130},{24,35}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0032</key>
      <dict>
        <key>frame</key>
        <string>{{286,120},{27,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0033</key>
      <dict>
        <key>frame</key>
        <string>{{413,350},{25,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0034</key>
      <dict>
        <key>frame</key>
        <string>{{420,53},{18,9}}</string>
        <key>offset</key>
        <string>{-4.50,-5.00}</string>
        <key>sourceSize</key>
        <string>{27.00,37.00}</string>
      </dict>
      <key>gamemenulayer_0035</key>
      <dict>
        <key>frame</key>
        <string>{{224,251},{17,23}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0036</key>
      <dict>
        <key>frame</key>
        <string>{{261,251},{11,21}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0037</key>
      <dict>
        <key>frame</key>
        <string>{{243,251},{16,22}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0038</key>
      <dict>
        <key>frame</key>
        <string>{{476,262},{16,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0039</key>
      <dict>
        <key>frame</key>
        <string>{{315,120},{16,22}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0040</key>
      <dict>
        <key>frame</key>
        <string>{{454,313},{16,22}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0041</key>
      <dict>
        <key>frame</key>
        <string>{{467,337},{16,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0042</key>
      <dict>
        <key>frame</key>
        <string>{{467,362},{16,21}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0043</key>
      <dict>
        <key>frame</key>
        <string>{{473,1},{16,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0044</key>
      <dict>
        <key>frame</key>
        <string>{{473,26},{16,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0045</key>
      <dict>
        <key>frame</key>
        <string>{{476,287},{15,23}}</string>
        <key>offset</key>
        <string>{-1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,23.00}</string>
      </dict>
      <key>gamemenulayer_0046</key>
      <dict>
        <key>frame</key>
        <string>{{385,298},{34,50}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0047</key>
      <dict>
        <key>frame</key>
        <string>{{454,262},{20,49}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0048</key>
      <dict>
        <key>frame</key>
        <string>{{418,64},{32,50}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0049</key>
      <dict>
        <key>frame</key>
        <string>{{385,246},{34,50}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0050</key>
      <dict>
        <key>frame</key>
        <string>{{417,127},{34,50}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0051</key>
      <dict>
        <key>frame</key>
        <string>{{345,1},{33,49}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0052</key>
      <dict>
        <key>frame</key>
        <string>{{420,1},{32,50}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0053</key>
      <dict>
        <key>frame</key>
        <string>{{421,295},{31,49}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0054</key>
      <dict>
        <key>frame</key>
        <string>{{380,127},{35,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0055</key>
      <dict>
        <key>frame</key>
        <string>{{418,179},{32,50}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0056</key>
      <dict>
        <key>frame</key>
        <string>{{478,217},{10,34}}</string>
        <key>offset</key>
        <string>{-8.50,-8.00}</string>
        <key>sourceSize</key>
        <string>{35.00,50.00}</string>
      </dict>
      <key>gamemenulayer_0057</key>
      <dict>
        <key>frame</key>
        <string>{{27,395},{7,2}}</string>
        <key>offset</key>
        <string>{-2.00,-2.50}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0058</key>
      <dict>
        <key>frame</key>
        <string>{{187,380},{11,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0059</key>
      <dict>
        <key>frame</key>
        <string>{{78,377},{6,15}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0060</key>
      <dict>
        <key>frame</key>
        <string>{{1,377},{11,16}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0061</key>
      <dict>
        <key>frame</key>
        <string>{{14,377},{11,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0062</key>
      <dict>
        <key>frame</key>
        <string>{{27,377},{11,16}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0063</key>
      <dict>
        <key>frame</key>
        <string>{{40,377},{11,16}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0064</key>
      <dict>
        <key>frame</key>
        <string>{{53,377},{11,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0065</key>
      <dict>
        <key>frame</key>
        <string>{{66,377},{10,15}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0066</key>
      <dict>
        <key>frame</key>
        <string>{{174,380},{11,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0067</key>
      <dict>
        <key>frame</key>
        <string>{{200,380},{11,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{11.00,17.00}</string>
      </dict>
      <key>gamemenulayer_0068</key>
      <dict>
        <key>frame</key>
        <string>{{277,316},{62,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{62.00,36.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gamemenulayer.png</string>
      <key>realTextureFileName</key>
      <string>gamemenulayer.png</string>
      <key>textureFileName</key>
      <string>gamemenulayer.png</string>
      <key>size</key>
      <string>{586,398}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>-</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.05548</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>元件3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.67823</real>
        <key>anchorY</key>
        <real>1.30556</real>
        <key>start</key>
        <integer>68</integer>
        <key>end</key>
        <integer>68</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,131.00,101.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2272780</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,87.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2272784</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>55.00,88.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i2272782</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>41.00,101.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2272786</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>68.00,75.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,94.00,95.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2272812</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,95.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,238.00,79.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>timeCount</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>132.00,44.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i2272841</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>115.50,45.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i2272838</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>119.00,39.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>buyTimeNode</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,100.05,125.40</string>
        <key>anchorX</key>
        <real>0.49975</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i2272867</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>48.50,34.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2272871</key>
          <dict>
            <key>class</key>
            <string>-</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>24.05,25.50,0.00,0.74286,0.74286,1.00,2,0.00,0.00</string>
          </dict>
          <key>btnBuyTime</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>47.00,77.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>buyTimeCost</key>
          <dict>
            <key>class</key>
            <string>buyTimeText</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>35.35,40.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Rockwell,22,#072469,left,65,31</string>
            <key>text</key>
            <string>-999</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>gameSceneMenu</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,709.10,237.50</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>buyTimeNode</key>
          <dict>
            <key>class</key>
            <string>buyTimeNode</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>657.90,62.70,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>thermometer</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>368.85,154.25,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i2272908</key>
          <dict>
            <key>class</key>
            <string>元件3</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>-7.90,212.55,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>star</key>
          <dict>
            <key>class</key>
            <string>xxxxxx</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>35.30,152.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>LevelLabel</key>
          <dict>
            <key>class</key>
            <string>LevelLabelText</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>87.30,213.55,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Rockwell,45,#FFFFFF,left,158,69</string>
            <key>text</key>
            <string>1-1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>countDown</key>
          <dict>
            <key>class</key>
            <string>CountDown</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>223.70,207.40,0.00,1.00000,1.00964,1.00,8,7.92,0.00,Showcard Gothic,70,#FFFFFF,center,320,99</string>
            <key>text</key>
            <string>99:99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>StarLabel</key>
          <dict>
            <key>class</key>
            <string>StarLabelText</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>104.20,139.05,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Rockwell,25,#FFFFFF,center,90,45</string>
            <key>text</key>
            <string>99/99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>ice</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>371.75,160.25,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>TimeLabel</key>
          <dict>
            <key>class</key>
            <string>TimeLabelText</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>321.50,125.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Rockwell,40,#FFFFFF,center,112,63</string>
            <key>text</key>
            <string>99:99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnPause</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>643.60,175.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>timeFrame</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>244.95,196.85,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>xxxxxx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,57.00,55.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2272946</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>28.50,27.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>CountDown</key>
      <dict>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>23</integer>
        <key>size</key>
        <integer>70</integer>
        <key>chars</key>
        <string>0123456789:</string>
        <key>anchorX</key>
        <real>-0.08333</real>
        <key>anchorY</key>
        <real>1.33333</real>
      </dict>
      <key>LevelLabelText</key>
      <dict>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>34</integer>
        <key>size</key>
        <integer>45</integer>
        <key>chars</key>
        <string>0123456789-</string>
        <key>anchorX</key>
        <real>-0.22222</real>
        <key>anchorY</key>
        <real>1.40541</real>
      </dict>
      <key>StarLaebelText</key>
      <dict>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>45</integer>
        <key>size</key>
        <integer>25</integer>
        <key>chars</key>
        <string>0123456789/</string>
        <key>anchorX</key>
        <real>-0.27778</real>
        <key>anchorY</key>
        <real>1.43478</real>
      </dict>
      <key>TimeLabelText</key>
      <dict>
        <key>start</key>
        <integer>46</integer>
        <key>end</key>
        <integer>56</integer>
        <key>size</key>
        <integer>70</integer>
        <key>chars</key>
        <string>0123456789:</string>
        <key>anchorX</key>
        <real>-0.17143</real>
        <key>anchorY</key>
        <real>1.40000</real>
      </dict>
      <key>buyTimeText</key>
      <dict>
        <key>start</key>
        <integer>57</integer>
        <key>end</key>
        <integer>67</integer>
        <key>size</key>
        <integer>22</integer>
        <key>chars</key>
        <string>-0123456789</string>
        <key>anchorX</key>
        <real>-0.54545</real>
        <key>anchorY</key>
        <real>1.47059</real>
      </dict>
    </dict>
  </dict>
</plist>