<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamelostlayer_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,632},{142,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{142.00,44.00}</string>
      </dict>
      <key>gamelostlayer_0001</key>
      <dict>
        <key>frame</key>
        <string>{{145,632},{73,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{73.00,50.00}</string>
      </dict>
      <key>gamelostlayer_0002</key>
      <dict>
        <key>frame</key>
        <string>{{220,632},{68,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,65.00}</string>
      </dict>
      <key>gamelostlayer_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,532},{404,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{404.00,98.00}</string>
      </dict>
      <key>gamelostlayer_0004</key>
      <dict>
        <key>frame</key>
        <string>{{407,532},{246,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{246.00,91.00}</string>
      </dict>
      <key>gamelostlayer_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,408},{449,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{449.00,122.00}</string>
      </dict>
      <key>gamelostlayer_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{496,405}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{496.00,405.00}</string>
      </dict>
      <key>gamelostlayer_0007</key>
      <dict>
        <key>frame</key>
        <string>{{499,145},{179,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{179.00,142.00}</string>
      </dict>
      <key>gamelostlayer_0008</key>
      <dict>
        <key>frame</key>
        <string>{{499,1},{189,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{189.00,142.00}</string>
      </dict>
      <key>gamelostlayer_0009</key>
      <dict>
        <key>frame</key>
        <string>{{499,289},{94,156}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,156.00}</string>
      </dict>
      <key>gamelostlayer_0010</key>
      <dict>
        <key>frame</key>
        <string>{{485,447},{30,46}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0011</key>
      <dict>
        <key>frame</key>
        <string>{{522,625},{19,45}}</string>
        <key>offset</key>
        <string>{-1.50,0.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0012</key>
      <dict>
        <key>frame</key>
        <string>{{457,625},{31,45}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0013</key>
      <dict>
        <key>frame</key>
        <string>{{517,447},{30,46}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0014</key>
      <dict>
        <key>frame</key>
        <string>{{290,632},{33,44}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0015</key>
      <dict>
        <key>frame</key>
        <string>{{452,447},{31,45}}</string>
        <key>offset</key>
        <string>{1.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0016</key>
      <dict>
        <key>frame</key>
        <string>{{490,625},{30,45}}</string>
        <key>offset</key>
        <string>{1.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0017</key>
      <dict>
        <key>frame</key>
        <string>{{424,625},{31,44}}</string>
        <key>offset</key>
        <string>{1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0018</key>
      <dict>
        <key>frame</key>
        <string>{{391,632},{31,46}}</string>
        <key>offset</key>
        <string>{1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0019</key>
      <dict>
        <key>frame</key>
        <string>{{358,632},{31,46}}</string>
        <key>offset</key>
        <string>{1.50,0.00}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1,684},{20,9}}</string>
        <key>offset</key>
        <string>{-5.00,-5.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
      <key>gamelostlayer_0021</key>
      <dict>
        <key>frame</key>
        <string>{{325,632},{31,31}}</string>
        <key>offset</key>
        <string>{1.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{34.00,46.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gamelostlayer.png</string>
      <key>realTextureFileName</key>
      <string>gamelostlayer.png</string>
      <key>textureFileName</key>
      <string>gamelostlayer.png</string>
      <key>size</key>
      <string>{698,708}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49542</real>
        <key>anchorY</key>
        <real>0.45795</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.10630</real>
        <key>anchorY</key>
        <real>0.93736</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52021</real>
        <key>anchorY</key>
        <real>0.48846</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1689</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,142.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,179.00,142.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1715</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,142.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>GameLost</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,774.30,1304.80</string>
        <key>anchorX</key>
        <real>0.51072</real>
        <key>anchorY</key>
        <real>0.52311</real>
        <key>children</key>
        <dict>
          <key>i1742</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>140.45,874.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1758</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>329.65,688.65,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i1744</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>166.45,932.55,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1752</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>527.45,531.75,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i1746</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>241.45,917.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btnBack</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>86.45,562.75,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>levelLabel</key>
          <dict>
            <key>class</key>
            <string>LevelText</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>398.25,726.30,0.00,1.00000,1.00000,1.00,9,0.00,0.00,Arial,55,#FFFFFF,left,296,75</string>
            <key>text</key>
            <string>2-3</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i1748</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>192.45,735.55,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i1756</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>176.45,525.75,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>btnRestart</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>497.45,562.75,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>bk</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>401.40,636.05,0.00,8.38011,8.38011,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>LevelText</key>
      <dict>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>21</integer>
        <key>size</key>
        <integer>55</integer>
        <key>chars</key>
        <string>0123456789-+</string>
        <key>anchorX</key>
        <real>-0.14706</real>
        <key>anchorY</key>
        <real>1.28261</real>
      </dict>
    </dict>
  </dict>
</plist>