<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>guide_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,777},{185,130}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{185.00,130.00}</string>
      </dict>
      <key>guide_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{644,774}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{644.00,774.00}</string>
      </dict>
      <key>guide_0002</key>
      <dict>
        <key>frame</key>
        <string>{{188,777},{69,114}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{69.00,114.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>guide.png</string>
      <key>realTextureFileName</key>
      <string>guide.png</string>
      <key>textureFileName</key>
      <string>guide.png</string>
      <key>size</key>
      <string>{746,976}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49565</real>
        <key>anchorY</key>
        <real>0.83509</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,185.00,130.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i4705</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,130.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>Guide</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,888.00,1496.80</string>
        <key>anchorX</key>
        <real>0.06520</real>
        <key>anchorY</key>
        <real>0.07549</real>
        <key>children</key>
        <dict>
          <key>btnNext</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>435.65,547.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>bk</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>437.40,1249.10,0.00,13.17690,13.17690,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4733</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>415.15,812.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>