<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pausegame_0000</key>
      <dict>
        <key>frame</key>
        <string>{{288,228},{61,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{61.00,55.00}</string>
      </dict>
      <key>pausegame_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{638,158}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{638.00,158.00}</string>
      </dict>
      <key>pausegame_0002</key>
      <dict>
        <key>frame</key>
        <string>{{192,161},{94,156}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,156.00}</string>
      </dict>
      <key>pausegame_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,161},{189,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{189.00,142.00}</string>
      </dict>
      <key>pausegame_0004</key>
      <dict>
        <key>frame</key>
        <string>{{288,161},{68,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,65.00}</string>
      </dict>
      <key>pausegame_0005</key>
      <dict>
        <key>frame</key>
        <string>{{288,285},{54,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{54.00,62.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>pausegame.png</string>
      <key>realTextureFileName</key>
      <string>pausegame.png</string>
      <key>textureFileName</key>
      <string>pausegame.png</string>
      <key>size</key>
      <string>{740,360}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52021</real>
        <key>anchorY</key>
        <real>0.48846</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1578</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>94.50,71.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1585</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>92.00,109.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1611</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>94.50,71.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1618</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>104.00,105.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1644</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>94.50,71.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1651</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>99.00,108.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>PauseGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,774.30,1304.80</string>
        <key>anchorX</key>
        <real>0.50200</real>
        <key>anchorY</key>
        <real>0.52150</real>
        <key>children</key>
        <dict>
          <key>btnBackToModel</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>384.65,681.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btnContinue</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>596.65,681.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1678</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>77.15,760.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>bk</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>401.40,636.05,0.00,8.38011,8.38011,1.00,0,0.00,0.00</string>
          </dict>
          <key>btnRestart</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>191.65,681.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>