<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,423},{192,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,111}}</string>
                <key>sourceSize</key>
                <string>{192,111}</string>
            </dict>
            <key>scene1_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{419,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,456}}</string>
                <key>sourceSize</key>
                <string>{419,456}</string>
            </dict>
            <key>scene1_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{187,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,357}}</string>
                <key>sourceSize</key>
                <string>{187,357}</string>
            </dict>
            <key>scene2_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,617},{226,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,168}}</string>
                <key>sourceSize</key>
                <string>{226,168}</string>
            </dict>
            <key>scene2_pharaoh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{97,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,303}}</string>
                <key>sourceSize</key>
                <string>{97,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene_decoration.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7afdc17ed47a6c38386828cfe762ace:1/1$</string>
            <key>textureFileName</key>
            <string>scene_decoration.png</string>
        </dict>
    </dict>
</plist>
