<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>stress_win_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{496,357}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{496.00,357.00}</string>
      </dict>
      <key>stress_win_0001</key>
      <dict>
        <key>frame</key>
        <string>{{530,394},{65,108}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{65.00,108.00}</string>
      </dict>
      <key>stress_win_0002</key>
      <dict>
        <key>frame</key>
        <string>{{339,474},{189,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{189.00,142.00}</string>
      </dict>
      <key>stress_win_0003</key>
      <dict>
        <key>frame</key>
        <string>{{499,275},{74,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{74.00,50.00}</string>
      </dict>
      <key>stress_win_0004</key>
      <dict>
        <key>frame</key>
        <string>{{499,145},{128,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{128.00,128.00}</string>
      </dict>
      <key>stress_win_0005</key>
      <dict>
        <key>frame</key>
        <string>{{417,360},{89,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,90.00}</string>
      </dict>
      <key>stress_win_0006</key>
      <dict>
        <key>frame</key>
        <string>{{508,327},{68,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,65.00}</string>
      </dict>
      <key>stress_win_0007</key>
      <dict>
        <key>frame</key>
        <string>{{499,1},{189,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{189.00,142.00}</string>
      </dict>
      <key>stress_win_0008</key>
      <dict>
        <key>frame</key>
        <string>{{530,504},{61,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{61.00,55.00}</string>
      </dict>
      <key>stress_win_0009</key>
      <dict>
        <key>frame</key>
        <string>{{530,561},{42,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{42.00,50.00}</string>
      </dict>
      <key>stress_win_0010</key>
      <dict>
        <key>frame</key>
        <string>{{268,618},{130,40}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{130.00,40.00}</string>
      </dict>
      <key>stress_win_0011</key>
      <dict>
        <key>frame</key>
        <string>{{400,618},{125,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,26.00}</string>
      </dict>
      <key>stress_win_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,474},{336,104}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{336.00,104.00}</string>
      </dict>
      <key>stress_win_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,580},{265,63}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{265.00,63.00}</string>
      </dict>
      <key>stress_win_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,360},{414,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{414.00,112.00}</string>
      </dict>
      <key>stress_win_0015</key>
      <dict>
        <key>frame</key>
        <string>{{417,452},{17,17}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0016</key>
      <dict>
        <key>frame</key>
        <string>{{567,613},{17,26}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0017</key>
      <dict>
        <key>frame</key>
        <string>{{575,275},{10,26}}</string>
        <key>offset</key>
        <string>{-1.00,0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0018</key>
      <dict>
        <key>frame</key>
        <string>{{547,613},{18,26}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0019</key>
      <dict>
        <key>frame</key>
        <string>{{527,618},{18,27}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0020</key>
      <dict>
        <key>frame</key>
        <string>{{308,580},{18,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0021</key>
      <dict>
        <key>frame</key>
        <string>{{508,423},{18,26}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0022</key>
      <dict>
        <key>frame</key>
        <string>{{508,394},{18,27}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0023</key>
      <dict>
        <key>frame</key>
        <string>{{574,561},{17,25}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0024</key>
      <dict>
        <key>frame</key>
        <string>{{288,580},{18,26}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
      <key>stress_win_0025</key>
      <dict>
        <key>frame</key>
        <string>{{268,580},{18,27}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{18.00,27.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>stress_win.png</string>
      <key>realTextureFileName</key>
      <string>stress_win.png</string>
      <key>textureFileName</key>
      <string>stress_win.png</string>
      <key>size</key>
      <string>{698,660}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.42549</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53769</real>
        <key>anchorY</key>
        <real>0.50231</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49269</real>
        <key>anchorY</key>
        <real>0.59875</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53400</real>
        <key>anchorY</key>
        <real>0.46538</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.36538</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.05604</real>
        <key>anchorY</key>
        <real>0.89127</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i8590</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,142.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i8592</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>92.00,103.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,128.00,128.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i8622</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>30.00,96.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i8618</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,128.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i8620</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>19.00,110.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,189.00,142.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i8648</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,142.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i8650</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>41.00,106.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>GameWin</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,778.55,1311.80</string>
        <key>anchorX</key>
        <real>0.04296</real>
        <key>anchorY</key>
        <real>0.96882</real>
        <key>children</key>
        <dict>
          <key>i8679</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>355.25,669.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Arial,35,#643615,left,74,45</string>
            <key>text</key>
            <string>+10</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i8700</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>232.20,670.40,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>reward</key>
          <dict>
            <key>class</key>
            <string>rewardText</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>471.30,679.50,0.00,1.00000,1.00000,1.00,13,0.00,0.00,Arial,35,#643615,left,74,45</string>
            <key>text</key>
            <string>+10</string>
            <key>input</key>
            <false/>
          </dict>
          <key>LevelLabel</key>
          <dict>
            <key>class</key>
            <string>LabelText</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>423.50,612.10,0.00,1.00000,1.00000,1.00,10,0.00,0.00,Arial,50,#FFFFFF,left,185,69</string>
            <key>text</key>
            <string>1-1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnNextLevel</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>624.95,444.90,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i8680</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>145.45,946.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i8678</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>355.25,669.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Arial,35,#643615,left,74,45</string>
            <key>text</key>
            <string>+10</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i8682</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>188.45,842.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btnRestart</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>395.45,451.90,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i8684</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>278.45,816.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i8702</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>353.30,585.90,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>i8704</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>441.60,657.40,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>i8706</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>332.95,659.85,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>btnBack</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>164.95,444.90,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>rewardText</key>
      <dict>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>25</integer>
        <key>size</key>
        <integer>35</integer>
        <key>chars</key>
        <string>+0123456789</string>
        <key>anchorX</key>
        <real>-0.27778</real>
        <key>anchorY</key>
        <real>1.33333</real>
      </dict>
    </dict>
  </dict>
</plist>