<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>time_model_scene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{222,302},{217,250}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{217.00,250.00}</string>
      </dict>
      <key>time_model_scene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{213,554},{200,187}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{200.00,187.00}</string>
      </dict>
      <key>time_model_scene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,614},{203,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{203.00,91.00}</string>
      </dict>
      <key>time_model_scene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,522},{210,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{210.00,90.00}</string>
      </dict>
      <key>time_model_scene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,151},{267,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,38.00}</string>
      </dict>
      <key>time_model_scene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{268,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{268.00,36.00}</string>
      </dict>
      <key>time_model_scene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,191},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>time_model_scene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,229},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>time_model_scene_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,266},{267,34}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,34.00}</string>
      </dict>
      <key>time_model_scene_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,114},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>time_model_scene_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,77},{267,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,35.00}</string>
      </dict>
      <key>time_model_scene_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,39},{267,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{267.00,36.00}</string>
      </dict>
      <key>time_model_scene_0012</key>
      <dict>
        <key>frame</key>
        <string>{{441,321},{156,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{156.00,128.00}</string>
      </dict>
      <key>time_model_scene_0013</key>
      <dict>
        <key>frame</key>
        <string>{{375,227},{56,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,73.00}</string>
      </dict>
      <key>time_model_scene_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,302},{219,218}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{219.00,218.00}</string>
      </dict>
      <key>time_model_scene_0015</key>
      <dict>
        <key>frame</key>
        <string>{{270,227},{103,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{103.00,52.00}</string>
      </dict>
      <key>time_model_scene_0016</key>
      <dict>
        <key>frame</key>
        <string>{{441,227},{158,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,92.00}</string>
      </dict>
      <key>time_model_scene_0017</key>
      <dict>
        <key>frame</key>
        <string>{{453,133},{157,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{157.00,92.00}</string>
      </dict>
      <key>time_model_scene_0018</key>
      <dict>
        <key>frame</key>
        <string>{{415,646},{158,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,91.00}</string>
      </dict>
      <key>time_model_scene_0019</key>
      <dict>
        <key>frame</key>
        <string>{{415,554},{163,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{163.00,90.00}</string>
      </dict>
      <key>time_model_scene_0020</key>
      <dict>
        <key>frame</key>
        <string>{{270,133},{181,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{181.00,92.00}</string>
      </dict>
      <key>time_model_scene_0021</key>
      <dict>
        <key>frame</key>
        <string>{{270,39},{191,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{191.00,92.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>time_model_scene.png</string>
      <key>realTextureFileName</key>
      <string>time_model_scene.png</string>
      <key>textureFileName</key>
      <string>time_model_scene.png</string>
      <key>size</key>
      <string>{670,752}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50739</real>
        <key>anchorY</key>
        <real>0.51099</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49048</real>
        <key>anchorY</key>
        <real>0.51667</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.50789</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49851</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55714</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.55882</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54714</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.54286</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50037</real>
        <key>anchorY</key>
        <real>0.53056</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65190</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65605</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.65190</real>
        <key>anchorY</key>
        <real>0.51099</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.63190</real>
        <key>anchorY</key>
        <real>0.51667</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56906</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53927</real>
        <key>anchorY</key>
        <real>0.50543</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>1_1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,56.00,73.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i3402121</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,73.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>TimeModelScene</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1160.75,251.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00398</real>
        <key>children</key>
        <dict>
          <key>i3402147</key>
          <dict>
            <key>class</key>
            <string>2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>595.00,251.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>tiger</key>
          <dict>
            <key>class</key>
            <string>aa</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>187.00,133.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i3402152</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>181.00,192.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i3402149</key>
          <dict>
            <key>class</key>
            <string>1_1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>681.00,73.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i3402162</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>1051.25,109.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>aa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,285.85,128.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i3402242</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null</string>
          </dict>
          <key>i3402240</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40||null</string>
          </dict>
          <key>i3402192</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>177.70,52.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||</string>
          </dict>
          <key>i3402232</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40||null||||</string>
          </dict>
          <key>i3402194</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.00,128.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||||||||||</string>
          </dict>
          <key>i3402246</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95</string>
          </dict>
          <key>i3402234</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||||</string>
          </dict>
          <key>i3402222</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||196.45,60.05,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||||||||||</string>
          </dict>
          <key>i3402228</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40||null||||||</string>
          </dict>
          <key>i3402226</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||||||||</string>
          </dict>
          <key>i3402230</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||||||</string>
          </dict>
          <key>i3402224</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40||null||||||||</string>
          </dict>
          <key>i3402244</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40</string>
          </dict>
          <key>i3402238</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||196.80,59.60,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||</string>
          </dict>
          <key>i3402236</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||230.15,47.40,0.40,0.35206,0.44715,1.00,0,0.25,0.40||null||</string>
          </dict>
          <key>i3402220</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||229.95,51.10,0.22,0.37894,0.26539,1.00,0,0.45,0.22||null||||||||||</string>
          </dict>
          <key>i3402188</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>229.95,51.10,0.22,0.37894,0.26539,1.00,0,0.45,0.22||null||||||||||||</string>
          </dict>
          <key>i3402190</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>197.70,60.70,6.95,0.78836,0.78836,1.00,1,6.95,6.95||null||||||||||||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>